$black:#212928;
$black-75:rgba(33, 41, 40, 0.75);
$black-50:rgba(33, 41, 40, 0.5);
$black-25:rgba(33, 41, 40, 0.25);
$black-10:rgba(33, 41, 40, 0.1);
$black-5:rgba(33, 41, 40, 0.05);

$white:#D3E5E2;
$white-75:rgba(211, 229, 226, 0.75);
$white-50:rgba(211, 229, 226, 0.5);
$white-25:rgba(211, 229, 226, 0.25);
$white-10:rgba(211, 229, 226, 0.1);
$white-5:rgba(211, 229, 226, 0.05);

$primary:#00FA73;
$secondary:#01F9C8;
$error:#FC2700;

$font-family-heading:"Ubuntu", sans-serif;
$font-family-p:"Heebo", sans-serif;

$h1-size:2.03em;
$h2-size:1.80em;
$h3-size:1.60em;
$h4-size:1.42em;
$h5-size:1.27em;
$h6-size:1.13em;
$p-size:1em;

$desktop-pfp-size:144px;
$tablet-pfp-size:136px;
$phone-pfp-size:96px;

$desktop-side-padding:48px;
$tablet-side-padding:32px;
$phone-side-padding:24px;

$desktop-root:16px;
$tablet-root:14px;
$phone-root:12px;

